<div class="c container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
        <div google-adsense client="5245145136348540" slot="3206531714"></div>
        <div chikita-ad ad-type="leaderboard"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8" ng-switch="vm.correct">
      <h3 class="strong" ng-switch-when="true"><span class="glyphicon glyphicon-thumbs-up correct" aria-hidden="true"></span> Correct Answer!</h3>
      <h3 class="strong" ng-switch-when="false"><span class="glyphicon glyphicon-thumbs-down incorrect" aria-hidden="true"></span> Wrong answer!</h3>
    </div>
    <div class="col-sm-4">
      Follow Us:
      <div>
        <span fb-like="'/questions/'+vm.question.id" class="share facebook"></span>
        <span tweet="'Quiz Dash'" tweet-url="'http://quizdash.dev/questions/'+vm.question.id" class="share twitter"></span>
      </div>
    </div>
  </div>
  <div class="row" ng-switch="vm.answered">
    <div class="col-sm-8 answerContent" ng-switch-when="true">
      <p><strong>Question:</strong> {{::vm.question.question}}</p>
      <div google-adsense class="adsense large-rectangle" client="5245145136348540" slot="4683264916"></div>
      <div chikita-ad></div>
      <p><img ng-src="/assets/{{vm.question.image}}" ng-if="vm.question.image" class="answer-thumb pull-left" /><strong>Answer:</strong> {{::vm.question.detail}}</p>

      <button type="button" class="btn btn-default btn-social btn-social-facebook" ng-click="vm.shareFacebook('question', 1)">
        <i class="fa fa-facebook-square"></i> Share this question on Facebook
      </button>
      <button type="button" class="btn btn-default btn-social btn-social-twitter" ng-click="vm.shareTwitter('question', 1)">
      <i class="fa fa-twitter"></i> Tweet
      </button>
      <button type="button" class="btn btn-default btn-social" ng-click="vm.shareEmailInit()" ng-hide="displayEmail>0">
        <i class="fa fa-envelope"></i> Email
      </button>
      <form ng-submit="vm.shareEmail()" ng-if="vm.shareEmailDetail" ng-switch="vm.shareEmailDetail.success">
        <div ng-switch-when="true">
          Your email has been sent!
        </div>
        <div ng-switch-default>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.shareEmailDetail.email">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="vm.shareEmail()">Send</button> <button class="btn" ng-click="vm.shareEmailReset()">Cancel</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4 hidden-xs">
      <div google-adsense client="5245145136348540" slot="6159998119"></div>
      <div chikita-ad ad-type="wide-skyscraper"></div>
    </div>
  </div>
  <h3 class="strong"><a href="/blog" target="_self">The Daily Dash</a></h3>
  <div class="row">
    <div class="col-sm-4" ng-repeat="post in vm.posts">
      <div class="panel panel-default">
        <div class="panel-img-heading"><a ng-href="{{post.url}}" target="_self"><img ng-src="{{ post.thumbnail_images['post-thumbnail']['url'] ||'http://lorempixel.com/300/200/technics/'  }}" alt="" /></a></div>
        <div class="panel-body"><a href="{{post.url}}" target="_self">{{post.title}}</a></div>
        <div class="panel-footer" ng-click="vm.sharePost(post)"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-share-square-o"></i></button> share</div>
      </div>
    </div>
  </div>
  <div taboola mode="thumbnails-b" container="below-article-thumbnails" placement="Below Article Thumbnails" target_type="mix"></div>
</div>