<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Profile: <small>{{vm.user.username}}</h3>
      <p>Your lifetime score on Quiz Dash is {{::vm.user.scoreCorrect}} correct answers out of a total of {{::vm.user.scoreAnswered}} attempted.</p>
      <p>If you would like to change any of the information in your profile, you can do so below.</p>
      <form ng-submit="vm.doSave()">
          <div class="form-group">
            <label for="add-username">Username</label>
            <input type="text" class="form-control" id="add-username" placeholder="Username" ng-model="vm.user.username" />
          </div>
          <div class="form-group">
            <label for="add-email">Email</label>
            <input type="email" class="form-control" id="add-email" placeholder="jdoe@gmail.com" ng-model="vm.user.email" />
          </div>
          <div class="form-group">
            <label for="add-password">Password</label>
            <input type="password" class="form-control" id="add-password" placeholder="supersecret" ng-model="vm.user.password" />
          </div>
          <div class="checkbox">
            <label for="add-subscribe">
              <input type="checkbox" class="form-control" id="add-subscribe" ng-model="vm.user.subscribe" /> Subscribe
            </label>
          </div>

          <button type="submit" class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
      </form>
    </div>
  </div>
</div>