<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
        <h3>PRIVACY AND COOKIES POLICY</h3>

        <p>Effective Date:</p>

        <ol>
        <h4>Who are we?</h4>
        <p>We are Big Huge Media LLC trading as “Quiz Dash”. We own and operate this website. Our contact details are on the website. Please contact us if you have any questions or feedback about this policy. </p>

        <h4>What’s the point of this policy?</h4>
        <p>This policy tells you how we deal with your “personal data” (i.e. technical term for information about any identified or identifiable living person). Please read on to find out what kinds of personal data we collect, how we use and protect it, to whom we disclose it and how you can access and rectify it.</p>

        <p>Please do not use our website unless you are completely happy with this policy. If you do use our website, we will assume that you do accept it.</p>

        <h4>Might the policy change?</h4>
        <p>It may well do and so you should check it whenever you visit our website. We will assume you agree to the revised policy if you use the website after the effective date shown at the top of the policy. </p>

        <h4>What personal or other data do we collect? </h4>
        <p>We collect and store the information which you give us via forms on our website - such as your name, email address, postcode and so on - or when communicating with us by email or in some other way.</p>

        <p>We may receive and store certain information automatically when you interact with us. Examples include the internet protocol (IP) address used to connect your computer to the internet, connection information such as browser type and version, information about your mobile or other device including device-type and device identifier, operating system and platform, a unique reference number linked to the data you enter on our system, login details, clickstream data, details of your activity on our website with date / time stamps including the pages you visited and searches you made.  </p>

        <p>If you log in via Facebook or Twitter, we may collect your name or other information from your public Facebook / Twitter profiles.</p>

        <p>We may be provided with your email address or other information about you from affiliate websites through which you sign up for site. </p>

        <h4>What about cookies?</h4>
        <p>We and/or third parties use cookies and other tracking technologies on our website. A cookie is an identifier (a small file of letters and numbers) that is sent to your computer.  Our website’s functionality will be limited if you configure your browser to reject cookies. </p>

        <p>Cookies are widely used to make websites work, or work more efficiently, as well as to provide information to the website owner or others. Session cookies are temporary cookies that remain in the cookie file of your browser only until your browser is closed. They allow websites to link your actions during a browser session. Persistent cookies stay in the cookie file of your browser for longer (though how long will depend on the lifetime of the specific cookie). For further information on cookies, including how to use your browser to block them and how to delete cookies already stored on your device, visit: <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>

        <p>Cookies are used on this website for the following purposes:</p>

        <ol type="a">

            <li>Session cookies: We use session cookies to enable the website to keep track of your movement from page to page and store your selections so you do not get asked repeatedly for the same information. These cookies allow you to proceed through many pages of the website quickly and easily without having to authenticate or reprocess each new area you visit. </li>

            <li>Log-in cookies: If you select the “remember me” option, we use persistent cookies (up to 30 days) to remember your details and speed up your log-in when you return to our website. </li>

            <li>Google cookies:  Persistent cookies (up to two years we believe) are set in connection with the following Google services on our site and these cookies may involve certain non-personally identifying information being sent to Google:</li>
            <ol type="i">
                <li><strong>Google Analytics (“GA”):</strong> We use cookies to recognise and count the number of website visitors as well as providing other information about the visit such as duration, route through the website and what sites the visitor came from. This information helps us to improve the way our website works, for example by making sure users find what they need easily. </li>
                <li><strong>Google advertising cookies (AdSense, Doubleclick):</strong>  Google uses cookies in connection with Google advertising on our website to serve ads to you based on your visits to this and other websites, to avoid showing you repeat ads and for various other purposes.</li>
                <li>
                    <p><strong>GA Advertising Features:</strong> We may use the following GA Advertising Features: Remarketing with GA / Google Display Network Impression Reporting / GA Demographics and Interest Reporting / Integrated services that require GA to collect data via advertising cookies and anonymous identifiers. These features involve GA collecting data via Google or other advertising cookies including for display of ads which may be of interest based on your visits to this and other sites. You can specifically opt out of GA <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">here</a>. See below for other opt out routes.</p>
                    <p>More information and opt out: Click <a href="http://www.google.com/policies/privacy/" target="_blank">here</a> for Google’s privacy policy and <a href="https://www.google.co.uk/policies/technologies/types/" target="_blank">here</a> for more information about the kinds of cookies placed by Google. Click <a href="http://www.google.com/intl/en/policies/privacy/partners/" target="_blank">here</a> for information about how Google uses data from its partners’ sites or apps as well as how to opt out of Google cookies.  </p>
                </li>
            </ol>
            <li><strong>Third party advertising cookies:</strong>  As do many other sites, we may use other third party advertisers and/or internet advertising companies working for them to fill ad space on our website. These third parties may use persistent cookies and other similar technologies (known as action tags, single pixel gifs and web beacons) to assess information about your visits to this and other sites.  This is so they can track the effectiveness of their campaigns (including whether these advertisements are clicked on or viewed by users and later purchases by such users), avoid showing you the same advertisement repeatedly and display advertisements on this and other sites tailored to your preferences. We do not have any access to or control over these third party technologies. If you would like more information about these practices and to know your choices about not having this information used by certain of these companies, please visit <a href="http://www.youronlinechoices.com" target="_blank">www.youronlinechoices.com</a> and <a href="http://www.networkadvertising.org/choices" target="_blank">www.networkadvertising.org/choices</a>. Please contact the third parties directly for more information about their privacy practices.</li>

            <li><strong>Taboola:</strong>  We use Taboola to drive traffic to our site from third party sites. If you visit us via a Taboola widget or other link on another site, Taboola may place session and persistent cookies (up to [period]). Click <a href="http://www.taboola.com/cookie-policy" target="_blank">here</a> to see Taboola’s cookie policy including an option to opt out of their cookies. </li>

            <li><strong>Social media cookies:</strong> We may use various social media and other third party features on our website including <a href="https://www.facebook.com/help/250558818375285/" target="_blank">like</a> button from <a href="www.facebook.com/help/cookies" target="_blank">Facebook</a>, follow button from <a href="https://twitter.com/privacy" target="_blank">Twitter</a>), <a href="https://support.google.com/plus/answer/1319578?hl=en-GB" target="_blank">Plus +1</a> button from <a href="https://www.google.co.uk/policies/technologies/types/" target="_blank">Google</a>, Pin It button from <a href="http://about.pinterest.com/en/privacy-policy" target="_blank">Pinterest</a>, share / follow button from <a href="https://www.linkedin.com/legal/cookie-policy" target="_blank">LinkedIn</a>, embed button from <a href="https://www.google.co.uk/policies/technologies/types/" target="_blank">YouTube</a>,  These features may involve the relevant companies using cookies or linking your visit with cookies previously placed by them on your computer in order for them to collect information relating to your visit to our website or your interaction with their services or otherwise. Click the links shown above for further information about the specific features and those companies’ cookie / privacy practices generally as well as to opt out where this is possible.</li>

            <li><strong>Third party log-in cookies:</strong> If you log in through a third party website, that website will place its own cookies on your computer. For more information, please visit the relevant pages on third party sites as follows: <a href="https://www.facebook.com/help/cookies" target="_blank">Facebook</a>, <a href="https://twitter.com/privacy" target="_blank">Twitter</a>.</li>

            <li><strong>Cookie-warning cookie:</strong> This cookie takes note of whether you are happy to accept cookies on this website based on your response to the message which appeared when you first visited the website. This persistent cookie will remember your preference for up to 12 months after your last log-in.</li>
        </ol>

        By continuing to use our website, having seen our cookie notice, we assume that you consent to use of the cookies outlined above.

        <h4>How do we use your personal data?</h4>
        <p>We use your personal data to provide our service including sending you new quiz questions. </p>

        <p>We use your personal data to help us communicate with you effectively should you try to contact us via our website. </p>

        <p>If you have given permission on our website, we may use your personal data to send you emails (or other communications such as mail, phone or SMS) with details of our or third party goods or services which may be of interest to you including information about special offers or promotions. </p>

        <p>We may use personal data to recognize you when you visit or return to our website to track anonymised traffic and usage patterns, to prevent or detect fraud or abuses or to help us improve our website. We may use cookies to do this. See above.</p>

        <p>If you supply us with a third party email address for a “Refer A Friend” or similar offer, we will use that email address only to transmit the referral message and we will then immediately delete it.</p>

        <p>We retain personal data from closed accounts in order to comply with legal obligations, enforce our terms and conditions, prevent fraud, resolve disputes, troubleshoot problems, assist with any investigations and take other actions as permitted by law. </p>

        <p>We may access, remove, alter, store or otherwise use any personal data if we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal act has been committed, or if we are required to do so by law or appropriate authority.</p>

        <h4>How do we protect personal data?</h4>
        <p>Security is a high priority for us. We take appropriate precautions to protect personal data. </p>

        <p>Email and other electronic communications are not secure if they have not been encrypted. Your communications will pass through a number of network nodes before they reach us. So we do not accept responsibility for any unauthorised access to or loss of personal data that stems from a cause beyond our control. Nor can we be held responsible for the actions or omissions of other users or third parties who may misuse your personal data which they collect from the website.</p>

        <h4>To whom do we disclose personal data?</h4>
        <p>We may allow access to your personal data by third parties who supply us with a service.  Examples include e-commerce platform providers, website hosts, content delivery networks and businesses which assist us in undertaking communications or monitoring our website. </p>

        <p>We do not provide your personal data to third parties for marketing purposes. </p>

        <p>Any information which you upload to our site (e.g. a comment on a blog) will be available to and searchable by users of our website. </p>

        <p>We may disclose personal data so far as reasonably necessary:</p>
        <ol type="a">
            <li>if we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal act has been committed, or if there has been a complaint about content posted by you, or if we are required to do so by law or appropriate authority; or</li>
            <li>in the case of an actual or proposed (including negotiations for a) sale or merger or business combination involving all or the relevant part of our business.</li>
        </ol>

        <p>We may store or transfer personal data outside the European Economic Area (EEA) for the purposes stated in this policy. If so, we will of course comply with the applicable laws relating to data transfer outside the EEA. </p>

        <p>Except as otherwise specifically included in this policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to third parties, whether they are suppliers of services on our website (e.g. payment providers) or other websites, different rules will apply to their use or disclosure of your information. Please check their privacy policies carefully. </p>

        <h4>How can you access and rectify personal data?</h4>
        <p>You have the right to request personal data that we hold about you, subject to us reserving the right to withhold such data to the extent permitted by law. We may charge an administration fee in line with data protection laws and we may also require appropriate evidence of identity. Note that you may be able to rectify certain of your personal data within your account on our service (if applicable).</p>

        <p>For information about your rights under UK data protection laws, see the website of the <a href="http://www.ico.org.uk/" target="_blank">UK Information Commissioner</a>.</p>

        <p>Version [19.11.15]</p>


    </div>
  </div>
</div>