%ad-leaderboard {
  width: 728px;
  height: 90px;
}

%ad-medium-rectangle {
  width: 336px;
  height: 280px;
}

%ad-large-rectangle {
  width: 336px;
  height: 280px;
}

%ad-half-page {
  width: 300px;
  height: 600px;
}

%ad-large-mobile-banner {
  width: 320px;
  height: 100px;
}

%ad-double-billboard {
  width: 750px;
  height: 200px;
}


.adsense {

  margin-left:auto;
  margin-right:auto;

  &.responsive {

  }

  &.leaderboard {
    @extend %ad-leaderboard;
  }

  &.medium-rectangle {
    @extend %ad-medium-rectangle;
  }

  &.large-rectangle {
    @extend %ad-large-rectangle;
  }

  &.half-page {
    @extend %ad-half-page;
  }

  &.large-mobile-banner {
    @extend %ad-large-mobile-banner;
  }

  &.double-billboard {
    @extend %ad-double-billboard;
  }
}