@import '_variables';

.btn.btn-social {
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  background: linear-gradient(#fdaf6b, #ee9237);

  &.btn-social-facebook {
    background: linear-gradient(#405b98, #2f467b);
  }

  &.btn-social-twitter {
    background: #1790bc;
  }
}

input.form-control-lg {
  height: 2.6em;
}

input[type=checkbox], input[type=checkbox]:active, input[type=checkbox]:focus {
    box-shadow: none;
    margin-top: -1px;
    width: 20px;
    height: 20px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.category-icon {
  font-family: $font-scripted;
  font-size: 1.4em;

  i.fa {
    position: relative;
    top: 0.1em;
  }
}

.hand {
  cursor: hand;
  cursor: pointer;
}

input.half-width {
  width: 50%;
}