@import '_variables';

footer {
  background: $brand-blue;
  color: #FFF;
  min-height: 300px;
  padding: 47px;

  .container > .row {
    padding-bottom: 40px;
  }

  h1 {
    font-size: 1.8em;
  }

  nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 20px;
    font-size: 0.8em;

    li {
      display: inline;
      display: inline-block;
      border-right: 1px solid #FFF;
      padding: 0 10px;
      font-weight: $font-weight-medium;
      white-space: nowrap;

      a {
        color: inherit;
      }

      &:last-child {
        border-right: none;
      }
    }

    &.no-dividers li {
      border-right: none;
      margin-bottom: 15px;
    }


  }

  &.interior {
  }

  #circles {
    background-image: url('/images/footer-bottom-bg.png');
    background-position-y: bottom;
    background-repeat: repeat-x;
  }
}