@import '_variables';

header {
  background: url('../images/header-bg.png') bottom repeat-x $header-color;
  color: #FFF;
  height: $header-height;

  label {
    font-weight: normal;
    margin: auto 10px;

    &.username {
      cursor: pointer;
    }
  }

  .qd-logo {
    top: -0.75em;

    &:hover {
      cursor: pointer;
    }
  }

  .row > div {
    height: $header-height;
    line-height: $header-height;
  }
}

nav.container {
  @extend %responsive-container;
}

.signin {
	padding-bottom: 10px;
	padding-top: 30px;
	border-bottom: 1px solid #000;
}
