@viewport {
    width: 960px;
    zoom: 1;
    initial-scale: 1;
    max-zoom: 3;
}

body {
  font-family: $font-serif;
  font-size: 17px;
  text-align: center;
  > * {
    text-align: left;
  }
}

h3 {
  font-family: $font-scripted;
  font-size: 1.9em;
  color: lighten($header-color, 53%);

  small {
    font-family: $font-serif;
    font-size: 0.47em;
    color: lighten($header-color, 27%);
    font-weight: 100;
    white-space: nowrap;
  }

  .glyphicon.correct {
    color: $correct-color;
  }

  .glyphicon.incorrect {
    color: $incorrect-color;
  }

  &.strong {
    color: $header-color;
  }
}

h4 {
  font-size: 1.53em;
  color: $brand-blue;
}

div.response {
  background: $response-background;
  padding: 12px 14px;
  margin-bottom: 20px;
  color: 0.94em;

  h4 {
    color: $correct-color;
    display: inline;
  }
}

.btn {
  background-color: $primary-button;
  color: #FFF;
  border-radius: 0;
}

.qd-logo {
  position: relative;
  font-family: $font-scripted;
  font-size: 2.94em;
  background: #FFF;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  z-index: 100;


  > span:nth-child(1) {
    position: absolute;
    left: 0.45em;
    top: 0.7em;
    color: $brand-blue;
  }

  > span:nth-child(2) {
    position: absolute;
    left: 1.35em;
    top: 1.65em;
    color: $header-color;
  }

  &.compact {
    height: $header-height+12px;
    font-size: 1.76em;
    background: transparent;
    background-image: url('/images/host-mini.png');
    background-position-x: 0;
    background-position-y: 28px;
    background-repeat: no-repeat;
    border-radius: 0;

    > span {
      padding-left: 50px;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        color: #FFF;
        top: 0.95em;
      }
    }
  }
}

#content {
  background: url('/images/bg.jpg') top center no-repeat $body-bg;

  &.white {
    background-image: none;
    background-color: #FFF;
  }

  > .c {
    @extend %responsive-container;
    position: static;
    background: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.content {
  position: relative;

  div, p, h3, h4, button, form {
    margin-bottom: 15px;

  }
}

.question {
  label {
    font-size: 1.5em;
    font-weight: normal;
    color: $brand-blue;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;

    label {
      font-size: 1.1em;
      color: $header-color;
    }
  }

  .btn {
    font-size: 1.73em;
  }
}

#hud {
/*
  position: relative;
  right: 26px;
  top: -82px;
*/
  font-size: 1.5em;

  .score {
    color: $brand-blue;
  }
}

div.answerContent {
  > p, > .adsense, > button {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  header {
    height: auto !important;

    .navbar {
        margin-bottom: 0;
    }

    .qd-logo {
      background: transparent;
      font-size: 1.8em;
      top: -1.25em !important;

      &.compact {
        top: -0.625em !important;
      }

      &>span:nth-child(2) {
        color: #FFF;
      }
    }

    .row>div.pull-right {
      line-height: 1em !important;
      padding-top: 1em;
    }
    .profile-pic {
      display: none;
    }

    .username {
      margin-right: 0;
    }

    .score {
      display: block;
    }
  }

  #hud {
    float: none !important;
    position: relative;
    top: 0;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .timer {
      font-size: 1.5em;
      text-align: center;
    }
  }

  form.question {
    input[type=radio] {
      height: 0 !important;
      width: 0 !important;
      position: relative;
      left: -1000px;
    }

    label.answer-label {
      border-radius: 5px;
      border-style: dashed;
      border-width: 1px;
      border-color: $brand-blue;
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 0;
      text-align: center;
    }

    input[type=radio]:checked+label.answer-label {
      background: $brand-blue;
      color: #FFF;
    }

    .btn {
      width: 100%;
    }

  }

    #content .c {
        padding-top: 0 !important;
        text-align: center;

        input.half-width {
            width: 100%;
        }
    }

}

.answer-thumb {
    max-width: 200px;
    padding-right: 10px;
}