@import '_variables';

nav.navbar {
  background: $brand-blue-accent;
  border: none;
  border-radius: 0;
  color: #FFF;
  z-index: 10;

  .navbar-nav a {
    color: #FFF;
  }
}

nav #navigation.offset {
    margin-left: 200px;
}