@import '_variables';

div#notice {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 0px 11px 0 #000;
    text-align: center;
    padding: 10px 80px;
    font-size: 0.7em;
}