.panel {
  .panel-img-heading {
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .panel-body {
      height: 105px;
  }

  .panel-footer {
    padding: 0;
    border-top: 0;
    background-color: inherit;

    .btn.btn-sm {
      background-color: inherit;
      color: #000;
      font-size: 1.2em;
      border-width: 1px 1px 0 0;
      border-radius: 0 4px 0 0;
    }
  }

  &#addRow .panel-body {
      height: auto;
  }
}