table.table-edit {
  border-collapse:collapse;
}

// @mixin transition($transition...) {
// 	-webkit-transition: $transition;
// 	transition: $transition;
// }

.editing {
    cursor: pointer;
    cursor: hand;
    position: relative;

    input.edit-cell {
        margin-bottom: 10px;
        width: 100%;
        position: absolute;
        z-index: 100;
        resize: none;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    }
    select.edit-cell {
        width: inherit;
    }
    textarea.edit-cell {
        margin-bottom: 10px;
        width: 150%;
        position: absolute;
        z-index: 100;
        resize: none;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    }

    // &:hover {
    //     .fa-pencil,
    //     .fa-times,
    //     .fa-plus {
    //         @include transition(all .2s ease-in-out);
    //         display: block;
    //         color: $gray-light;
    //         position: absolute;
    //     }
    //     .fa-pencil {
    //     	right: .25em;
    //         bottom: .25em;
    //     }
    //     .fa-times {
    //     	right: .25em;
    //         top: .25em;
    //     }
    //     .fa-plus {
    //     	left: .25em;
    //     	bottom: .25em;
    //     }
    // }

    // .fa-pencil,
    // .fa-times,
    // .fa-plus {
    //     display: none;
    // }
    // .fa-times,
    // .fa-plus {
    //     &:hover {
    //         //@include transform(scale(1.3));
    //         //color: $gray-dark;
    //     }
    // }
}