.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 1px solid #CCC;
    border-radius: 0;
}

.progress div {
    font-size: 0.5em;
    background: $brand-blue;
    text-align: center;
    width: 0;
    height: 100%;
}