$body-bg: #2C4C43;
$main-width: 912px;
$brand-blue: #03cec2;
$brand-blue-accent: #009C93;
$main-background: #f7f7f7;

$header-color: #424242;
$header-height: 86px;

$correct-color: #89ce27;
$incorrect-color: #ce2727;

$response-background: #E6E6E6;

$primary-button: #dc589f;

$font-scripted: 'Pacifico', cursive;
$font-serif: 'Montserrat', sans-serif;

$font-weight-medium: 300;

%responsive-container {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $main-width) {
    width: $main-width;
  }
  @media (max-width: $main-width) {
    width: 100%;
  }
}
