<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Unsubscribe</h3>
      <div ng-if="vm.user.subscribe">
        <p>If you would like to stop receiving our daily quiz updates, please click the button below.</p>
        <button ng-click="vm.unsubscribe()">Unsubscribe</button>
      </div>
      <p ng-if="!vm.user.subscribe">You have been removed from our daily email updates. Please <a ng-click="vm.subscribe()">click here</a> if you would like to start receiving them again.</p>
    </div>
  </div>
</div>