<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Frequently Asked Questions</h3>
      <dl>
        <dt>I signed up and am not receiving quiz questions?</dt>
        <dd>Check your spam folder and be sure to add <a href="mailto:questions@quizdash.co.uk">questions@quizdash.co.uk</a> to your contacts.</dd>
      </dl>

      <dl>
        <dt>Where can I edit my contact info?</dt>
        <dd><a ui-sref="user.profile">Click here.</a></dd>
      </dl>

      <dl>
        <dt>How can I stop receiving QD emails?</dt>
        <dd><a ui-sref="user.unsubscribe">Unsubscribe here.</a></dd>
      </dl>

      <dl>
        <dt>Can I submit a question to Quiz Dash?  </dt>
        <dd>Yes!  We would love it.  You can submit your questions by <a ui-sref="user.submit">filling out this form</a>.</dd>
      </dl>
    </div>
  </div>
</div>