<div class="c container-fluid">
  <div class="row">
    <div class="col-sm-3 hidden-xs text-center">
      <img src="images/host.png" alt="" />
    </div>
    <div class="col-sm-9 col-sm-offset-0 col-xs-10 col-xs-offset-1 content" ng-cloak>
      <div id="hud" class="pull-right" ng-show="vm.user.id && !vm.answered && !vm.error">
        <div ng-show="vm.user.scoreAnswered>0">Score: <span class="score">{{vm.user.scoreCorrect || 0}} / {{vm.user.scoreAnswered}}</span></div>
        <timer interval="1000" countdown="15" autostart="false" class="timer">{{minutes}}:{{sseconds}}</timer>
      </div>
      <h3>Today's Question <small>{{::vm.question.display_date | date:'MMMM d, yyyy'}}</small></h3>
      <div ng-if="vm.error" ng-bind-html="vm.error | renderHTML"></div>
      <form class="question" ng-hide="vm.error">
      	<label>{{::vm.question.question}}</label>
      	<div ng-switch="vm.answered">
        	<div ng-switch-when="false">
          	<ul>
          		<li ng-repeat="a in vm.question.answers">
          		  <input type="radio" ng-attr-id="{{ 'answer-' + a.id }}" name="answer" ng-model="$parent.vm.answer" value="{{a.id}}" /> <label ng-attr-for="{{ 'answer-' + a.id }}" class="answer-label">{{::a.answer}}</label>
          		</li>
          	</ul>
          	<a class="btn" ng-click="vm.submitAnswer()" ng-disabled="!vm.answer">Answer</a>
        	</div>
        	<div ng-switch-when="true">
          	<p>You've already taken today's quiz!</p>
          	<div chikita-ad></div>
        	</div>
      </form>
    </div>
  </div>
</div>