<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>About Quiz Dash</h3>
      <p>Quiz Dash is a fun quiz site that emails subscribers free daily questions to your inbox. Our quizzes cover a wide variety of topics including entertainment, history, science, music, pop-culture and more.   Test your knowledge or learn something new with Quiz Dash!  It’s fun, free and only takes seconds to play.  So what are you waiting for?  <a ui-sref="anon.login">Join now!</a></p>

    </div>
  </div>
</div>