<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
<h3>WEBSITE TERMS OF USE</h3>

<p>Effective Date: 19.11.2015</p>

<h4>Introduction</h4>
<p>This website is owned and operated by Big Huge Media LLC trading as “Quiz Dash”. Our company information is at the end of this document. </p>

<p>Please read these terms and conditions carefully. They apply to use of our website and cancel and replace any previous versions. These terms and conditions are available in the English language only.</p>

<h4>Changes to the terms and conditions</h4>
<p>We may change these terms and conditions by posting the revised version on our website at any time. Please check our website from time to time. You will be bound by the revised agreement if you continue to use our website following the effective date shown. </p>

<h4>Acceptable use policy</h4>
<p>You agree that you will not in connection with our website:</p>
<ol type="1">
    <li>breach any applicable law, regulation or code of conduct or infringe any intellectual property or other rights of others</li>;
    <li>publish or send any information (including links or references to other content), or otherwise behave in a manner, which</li>:
    <ol type="a">
        <li>is unlawful, defamatory, threatening, harassing, invasive of privacy, offensive, vulgar, racist, hateful, discriminatory, obscene, pornographic, sexually suggestive, promoting of self-harm, misleading, abusive or deceptive;</li>
        <li>infringes any intellectual property or other rights of others;</li>
        <li>involves phishing or scamming or similar; or </li>
        <li>we otherwise reasonably consider to be inappropriate;</li>
    </ol>
    <li>publish or send any information which involves revealing any personal data of another person (i.e. information enabling someone to be identified or contacted) unless that person is 18 years or over and you have obtained that person’s explicit written consent or you are the parent/guardian of such person;</li>
    <li>impersonate any person or entity for the purpose of misleading others;</li>
    <li>sell access to our website;</li>
    <li>sell advertising, sponsorship or promotions on or in connection with content except where explicitly authorized by us;</li>
    <li>use our website for junk mail, spam, pyramid or similar or fraudulent schemes;</li>
    <li>do anything which may have the effect of disrupting our website including  worms, viruses, software bombs or mass mailings; </li>
    <li>do anything which may negatively affect other users’ enjoyment of our website;</li>
    <li>gain unauthorised access to any part of our website or equipment used to provide our website; </li>
    <li>use any automated means to interact with our systems excluding public search engines; or</li>
    <li>attempt, encourage or assist any of the above.</li>
</ol>

<h4>Content</h4>
<p>You acknowledge that any information published or sent on or via our service by other users is the sole responsibility of the person from whom such content originated and we are not responsible for it.</p>

<p>We cannot guarantee that any general information that we may make available on our website is accurate or up to date. You rely on it at your own risk. </p>

<p>We reserve the right without notice or refund to suspend, alter, remove or delete content or to disclose to the relevant authorities or to a complainant any content or behaviour if it is the subject of complaint or where we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal act has been committed, or if we are required to do so by law or appropriate authority.  </p>

<h4>Privacy</h4>
<p>You acknowledge and agree that we may process your personal data in accordance with the terms of our <a ui-sref="anon.privacy">privacy and cookies policy</a> which is subject to change from time to time.</p>

<h4>Functioning of our website </h4>
<p>We do not guarantee that our website will be uninterrupted or error-free and we are not responsible for any losses arising from such errors or interruptions. We are entitled, without notice and without liability, to suspend the website for repair, maintenance, improvement or other technical reason and to make changes to our website.</p>

<h4>Your account</h4>
<p>Your account on our website is for your personal use only and is non-transferable. You must not authorise or permit any other person to use your account. You must take reasonable care to protect and keep confidential your password and other account or identity information. You must notify us immediately of any apparent breach of security such as loss, theft, misuse or unauthorised disclosure or use of a password. You are responsible for third parties who use your account or identity (unless and to the extent that we are at fault).</p>

<p>We are entitled at any time for any reason and with or without notice to terminate your account on our site including deletion of all data contained therein.</p>

<h4>Intellectual property rights</h4>
<p>All trade marks, logos, content (including our website’s structure and layout), graphics, images, photographs, animation, videos, text and software used on this site are our intellectual property or that of our suppliers, partners or other users. For the purposes of your personal use only, you may view such material on your screen and print a single copy.  You may not otherwise use, sublicense, retrieve, display, modify, copy, print, sell, distribute, download, hire, reverse engineer (unless permitted by applicable law) or create extracts of, or derivative works from, such material without our specific prior written consent. </p>

<p>Just to be clear - you must not collect, scrape, harvest, frame or deep-link to any information on our website without our specific prior written consent.</p>

<p>You license (i.e. permit) us to use your content both on our own website and also, for marketing purposes, on other channels including different websites, social media and emails.</p>

<h4>Third party websites / advertising / services</h4>
<p>We may link to third party websites which may be of interest to you and/or include third party advertising on our site and/or use third party-provided services on our site. We do not recommend or endorse, nor are we legally responsible for, those sites or services.  You use such third party sites or services at your own risk.   </p>

<h4>Liability</h4>
<p>Nothing in this agreement in any way limits or excludes our liability for negligence causing death or personal injury or for fraudulent misrepresentation or for anything which may not legally be excluded or limited. In this section, any reference to us includes our employees and agents.</p>

<p>You must give us a reasonable opportunity to remedy any matter for which we are potentially liable before you incur any costs remedying the matter yourself. </p>

<p>We shall not be liable for any loss or damage caused by us or our employees or agents in circumstances where:</p>
<ol type="1">
    <li>there is no breach of a legal duty of care owed to you by us or by any of our employees or agents;</li>
    <li>such loss or damage was not foreseeable (meaning it was not an obvious consequence of our breach or not contemplated by you and us at the time we entered into this contract); </li>
    <li>such loss or damage is caused by you, for example by not complying with this agreement; or</li>
    <li>such loss or damage relates to a business.</li>
</ol>

<p>You will be liable for any reasonably foreseeable loss or damage we suffer arising from your breach of this agreement or misuse of our website (subject of course to our obligation to mitigate any losses).</p>

<h4>English law</h4>
<p>These terms and conditions shall be governed by English law and any disputes will be decided only by the courts of the United Kingdom.</p>

<h4>General</h4>
<p>We may send all notices under this agreement by email to the most recent email address you have supplied to us (unless otherwise stated in this agreement). Headings used in this agreement are for information and not binding. Any failure by either party to exercise or enforce any right or provision of this agreement does not mean this is a “waiver” (i.e. that it cannot be enforced later). If any part of this agreement is ineffective or unenforceable for any reason, then it will be replaced with a provision which as far as possible achieves the same thing and the rest of the agreement shall continue to apply. We may transfer this agreement to a third party but this will not affect your rights or obligations.  A person who is not a party to this agreement shall have no rights to enforce this agreement except insofar as expressly stated otherwise.</p>

<h4>Complaints</h4>
<p>If you have any complaints, please contact us via the contact details shown below. </p>

<h4>Company information</h4>
<p>Company name: Big Huge Media LLC</p>
<p>Country of incorporation: State of Delaware, USA.</p>
<p>Registered number:  5116868</p>
<p>Main trading address: 312 Arizona Avenue, Santa Monica, CA 90491</p>
<p>Other contact information: <a href="mailto:info@quizdash.co.uk">info@quizdash.co.uk</a></p>
<p>Version [19.11.15]</p>

    </div>
  </div>
</div>