<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Contact Us</h3>
      <p>For questions or comments please email <a href="mailto:info@quizdash.co.uk">info@quizdash.co.uk</a></p>
      <p>To opt-out of Quiz Dash, click the link at the bottom of your daily email or fill out the form below.</p>
      <form ng-submit="vm.submitContact()" ng-hide="vm.emailSent">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.message.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.message.email">
        </div>
        <div class="form-group">
          <label for="comments">Comments</label>
          <textarea class="form-control" name="comments" id="comments" rows="3" ng-model="vm.message.comments"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
      <p ng-show="vm.emailSent">Thank you for contacting us! We will review your email and get back to you within three business days.</p>
    </div>
  </div>
</div>