<div class="row">
	<nav class="container">
      	<div class="row">
    	    <div class="col-xs-6">
      	    <div class="qd-logo" ui-sref="anon.landing">
        	    <span>Quiz</span>
        	    <span>Dash</span>
      	    </div>
    	    </div>
    	    <div class="col-xs-6 pull-right text-right">
      	    <div ng-show="vm.user.username">
        	    <img ng-src="{{vm.user.avatar}}" ng-show="vm.user.username" ng-attr-title="{{vm.user.username}}" ng-attr-alt="{{vm.user.username}}" class="profile-pic" width="50" height="50" />
        	    <label class="username" ui-sref="user.profile">{{vm.user.username}}</label>
        	    <span class="score" ng-show="vm.user.scoreAnswered>0">({{vm.user.scoreCorrect || 0}} / {{vm.user.scoreAnswered}})</span>
      	    </div>
    	    	<a ui-sref="anon.login" class="btn" ng-hide="vm.user.username">Sign In</a>
    	    </div>
      	</div>
      	<div class="row" ng-show="vm.user.admin">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse offset" id="navigation" ng-class="{collapse: isCollapsed}">
                <ul class="nav navbar-nav">
                  <li><a ui-sref="admin.questions">Questions</a></li>
                  <li><a ui-sref="admin.users">Users</a></li>
                </ul>
              </div>
            </div>
          </nav>
      	</div>
	</nav>
</div>