<div id="notice" ng-hide="vm.agreed">
    <p>We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners.</p>
    <button class="btn btn-sm btn-primary" ng-click="vm.agree()">Accept</button> <button class="btn btn-sm" ui-sref="anon.privacy">Read More</button>
</div>