<div class="c container-fluid">
  <div class="row">
    <div class="col-sm-3 hidden-xs text-center">
      <img src="images/host.png" alt="" />
    </div>
    <div class="col-sm-9 col-sm-offset-0 col-xs-10 col-xs-offset-1 content">
      <div id="hud" class="pull-right">
        <img src="/images/ukflag.png" alt="" title="" width="37" height="21" />
      </div>
      <div id="hud" class="pull-right"></div>
      <h3>The Best Free UK Trivia on the Internet</h3>
      <h4>Join Now to Play!</h4>
      <form class="signup" ng-submit="vm.login()">
        <button type="button" class="btn btn-default btn-social btn-social-facebook" ng-click="vm.authenticate('facebook')">
          <i class="fa fa-facebook-square"></i> Sign in with Facebook
        </button><br />
        <button type="button" class="btn btn-default btn-social btn-social-twitter" ng-click="vm.authenticate('twitter')">
          <i class="fa fa-twitter"></i> Sign in with Twitter
        </button><br />
        <div class="form-group">
          <label class="sr-only" for="Email">Email</label>
          <input type="text" id="Email" name="Email" class="form-control half-width" placeholder="Email" ng-model="vm.email" />
        </div>
        <div class="form-group">
          <label class="sr-only" for="Password">Password</label>
          <input type="password" id="Password" name="Password" class="form-control half-width" placeholder="Password" ng-model="vm.pw" />
        </div>
      	<button type="submit" class="btn btn-lg"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;&nbsp;Get Started</button>
      </form>
      <p>Quiz Dash will email you fun and challenging questions each day.</p>
    </div>
  </div>
</div>