<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Quiz Dash Administration <small>{{::vm.question.posted | date:'MMMM d, yyyy'}}</small></h3>
      <ul>
        <li><a ui-sref="questions">Questions</a></li>
        <li><a ui-sref="users">Users</a></li>
      </ul>
    </div>
  </div>
</div>