<div class="row">
	<nav class="container">
      	<div class="row">
    	    <div class="col-xs-6">
      	    <div class="qd-logo compact" ui-sref="anon.landing">
        	    <span>Quiz</span>
        	    <span>Dash</span>
      	    </div>
    	    </div>
    	    <div class="col-xs-6 pull-right text-right">
      	    <img ng-src="http://www.gravatar.com/avatar/{{vm.gravatar()}}/?s=50" ng-show="vm.username" ng-attr-title="{{vm.username}}" ng-attr-alt="{{vm.username}}" class="profile-pic" />
      	    <label class="username">{{vm.username}}</label>
    	    	<a ui-sref="anon.login" class="btn" ng-hide="vm.username">Sign In</a>
    	    </div>
      	</div>
      	<div class="row" ng-show="vm.user.admin">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse" id="navigation" ng-class="{collapse: isCollapsed}">
                <ul class="nav navbar-nav">
                  <li><a ui-sref="admin.questions">Questions</a></li>
                  <li><a ui-sref="admin.users">Users</a></li>
                </ul>
              </div>
            </div>
          </nav>
      	</div>
	</nav>
</div>