<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <div id="hud" class="pull-right"></div>
      <h3>Administration <small>Questions</small></h3>
      <div class="pull-right" ng-hide="vm.newRecord">
        <button type="button" class="btn btn-default" ng-click="vm.displayAddRecord()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
      </div>
      <br />

      <div class="panel panel-default" id="addRow" ng-show="vm.newRecord">
        <div class="panel-heading">
          <h3 class="panel-title">Add Question</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="add-question">Question</label>
              <input type="text" class="form-control" id="add-question" placeholder="Question" ng-model="vm.newRecord.question" />
            </div>
            <div class="form-group">
              <label for="add-detail">Details</label>
              <textarea class="form-control" id="add-detail" placeholder="Give us a little more information about the answer to this question." ng-model="vm.newRecord.detail"></textarea>
            </div>
            <div class="form-group">
              <label for="add-detail">Image</label>
              <button type="file" class="btn btn-sm" ngf-select="vm.uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Select File</button>
              <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}<span class="progress" ng-show="f.progress >= 0"><div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div></span></div>
              <div>{{errorMsg}}</div>
            </div>
            <div class="form-group">
              <label for="add-scheduled">Scheduled</label>
              <input type="text" class="form-control" id="add-scheduled" placeholder="2016-11-08" ng-model="vm.newRecord.scheduled" />
            </div>
            <fieldset class="form-inline">
              <div ng-repeat="a in vm.newRecord.answers">
                <div class="form-group">
                  <label for="add-answer">Answer</label>
                  <input type="text" class="form-control" id="add-answer" placeholder="Answer" ng-model="a.answer" />
                </div>
                <div class="form-group">
                  <label for="add-answer">Correct?</label>
                  <input type="checkbox" class="form-control" id="add-answer" placeholder="Answer" ng-model="a.correct" />
                </div>
              </div>
            </fieldset>
            <button type="submit" class="btn btn-primary" ng-click="vm.doAddRecord()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
            <button type="submit" class="btn" ng-click="vm.resetAddRecord()">Cancel</button>
          </form>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover table-condensed table-edit">
        <thead>
          <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Details</th>
            <th>Created</th>
            <th>Scheduled</th>
            <th>Posted</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody ng-repeat="q in vm.questions">
          <tr>
            <td>{{q.id}}</td>
            <td class="editing" ng-click="vm.beginEditing(q, 'question')">
              <span ng-if="!vm.editingCell(q, 'question')">{{q.question}}</span>
              <form ng-if="vm.editingCell(q, 'question')">
                <textarea class="edit-cell form-control" rows="4" ng-model="q.question" ng-blur="vm.finishEditing(q)" click-focus="vm.editingCell(q, 'question')"></textarea>
              </form>
            </td>
            <td class="editing" ng-click="vm.beginEditing(q, 'detail')">
              <span ng-if="!vm.editingCell(q, 'detail')">{{q.detail | truncate}}</span>
              <form ng-if="vm.editingCell(q, 'detail')">
                <textarea class="edit-cell form-control" rows="4" ng-model="q.detail" ng-blur="vm.finishEditing(q)" click-focus="vm.editingCell(q, 'detail')"></textarea>
              </form>
            </td>
            <td>{{q.created_at | date:'short'}}</td>
            <td class="editing" ng-click="vm.beginEditing(q, 'scheduled')">
              <span ng-if="!vm.editingCell(q, 'scheduled')">{{q.scheduled | date:'yyyy-MM-dd'}}</span>
              <form ng-if="vm.editingCell(q, 'scheduled')">
                <textarea class="edit-cell form-control" rows="4" ng-model="q.scheduled" ng-blur="vm.finishEditing(q)" click-focus="vm.editingCell(q, 'scheduled')"></textarea>
              </form>
            </td>
            <td>{{q.posted}}</td>
            <td ng-if="!q.expand">
              <span class="glyphicon glyphicon-collapse-down hand" aria-hidden="true" ng-click="vm.expand(q)"></span><span class="sr-only">Expand</span>
            </td>
            <td ng-if="q.expand">
              <span class="glyphicon glyphicon-collapse-up hand" aria-hidden="true" ng-click="vm.collapse(q)"></span><span class="sr-only">Collapse</span>
            </td>
            <td><span class="glyphicon glyphicon-trash hand" aria-hidden="true" ng-click="vm.deleteRow(q)"></span><span class="sr-only">Delete</span></td>
          </tr>
          <tr ng-if="q.expand">
            <td colspan="8">
              <h3>Answers</h3>
              <table class="table table-striped table-bordered table-hover table-condensed table-edit">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Answer</th>
                    <th>Correct?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="a in q.answers">
                    <td>{{a.id}}</td>
                    <td class="editing" ng-click="vm.beginEditing(a, 'answer')">
                      <span ng-if="!vm.editingCell(a, 'answer')">{{a.answer}}</span>
                      <form ng-if="vm.editingCell(a, 'answer')">
                        <textarea class="edit-cell form-control" rows="4" ng-model="a.answer" ng-blur="vm.finishEditingAnswer(q,a)" click-focus="vm.editingCell(a, 'answer')"></textarea>
                      </form>
                    </td>
                    <td class="hand" ng-click="vm.toggleCorrect(q,a,$index)">{{a.correct}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>