<div class="row">
	<nav class="container">
    <div ui-view="marketing"></div>
    <div ui-view="ad text-center"></div>
  	<div class="row">
	    <div class="col-xs-12 text-center">
  	    <nav>
    	    <ul class="line-inline">
      	    <li>Copyright &copy; <timestamp></timestamp> Quiz Dash</li>
      	    <li><a ui-sref="anon.privacy">Privacy</a></li>
      	    <li><a ui-sref="anon.terms">Terms of Use</a></li>
      	    <li><a ui-sref="anon.about">About Us</a></li>
      	    <li><a ui-sref="anon.contact">Contact Us</a></li>
      	    <li><a href="/blog" target="_self">Blog</a></li>
    	    </ul>
  	    </nav>
	    </div>
  	</div>
	</nav>
</div>
<div ui-view="circles"></div>