<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
  	<h1>Sign up for free, get daily questions, track your score.</h1>
	</div>
</div>
<div class="row row-centered">
	<ul class="category-icon no-dividers">
  	<li><i class="fa fa-book"></i> History</li>
  	<li><i class="fa fa-futbol-o"></i> Sports</li>
  	<li><i class="fa fa-music"></i> Music</li>
  	<li><i class="fa fa-star"></i> Celebrity</li>
  	<li><i class="fa fa-flask"></i> Science</li>
	</div>
</div>