<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Submit a Question</h3>
      <p>Do you have a quesiton that you think would be perfect for Quiz Dash? We'd love to hear it! If we like it we will share it with all of our subscribers.</p>
      <form ng-submit="vm.submitQuestion()" ng-hide="vm.emailSent">
        <div class="form-group">
          <label for="question">Question</label>
          <input type="text" class="form-control" id="question" placeholder="Question" ng-model="vm.question.question">
        </div>
        <div class="form-group">
          <label for="answer">Answer</label>
          <input type="text" class="form-control" id="answer" placeholder="Answer" ng-model="vm.question.answer">
        </div>
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" id="name" placeholder="Jarvis Quizmaster" ng-model="vm.question.name">
        </div>
        <div class="form-group">
          <label for="hometown">Your Hometown</label>
          <input type="text" class="form-control" id="hometown" placeholder="Sodor" ng-model="vm.question.hometown">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
      <p ng-show="vm.emailSent">Thank you for sharing! Have another one? <a ng-click="vm.resetForm()">Click here</a> to share another one!</p>
    </div>
  </div>
</div>