<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <div id="hud" class="pull-right"></div>
      <h3>Administration <small>Users</small></h3>
      <div class="pull-right" ng-hide="vm.newRecord">
        <button type="button" class="btn btn-default" ng-click="vm.displayAddRecord()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
      </div>
      <br />

      <div class="panel panel-default" id="addRow" ng-show="vm.newRecord">
        <div class="panel-heading">
          <h3 class="panel-title">Add User</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="add-username">Username</label>
              <input type="text" class="form-control" id="add-username" placeholder="Username" ng-model="vm.newRecord.username" />
            </div>
            <div class="form-group">
              <label for="add-email">Email</label>
              <input type="email" class="form-control" id="add-email" placeholder="jdoe@gmail.com" ng-model="vm.newRecord.email" />
            </div>
            <div class="form-group">
              <label for="add-password">Password</label>
              <input type="password" class="form-control" id="add-password" placeholder="supersecret" ng-model="vm.newRecord.password" />
            </div>
            <div class="form-group">
              <label for="add-source">Source</label>
              <input type="text" class="form-control" id="add-source" placeholder="(e.g. direct, nyt, google)" ng-model="vm.newRecord.source" />
            </div>
            <div class="form-group">
              <label for="add-admin">Administrator?</label>
              <select class="form-control" id="add-admin" ng-model="vm.newRecord.admin">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="vm.doAddRecord()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
            <button type="submit" class="btn" ng-click="vm.resetAddRecord()">Cancel</button>
          </form>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover table-condensed table-edit">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Subscribed</th>
            <th>Administrator</th>
            <th>Created</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody ng-repeat="u in vm.users">
          <tr>
            <td>{{u.id}}</td>
            <td class="editing" ng-click="vm.beginEditing(u, 'username')">
              <span ng-if="!vm.editingCell(u, 'username')">{{u.username}}</span>
              <form ng-if="vm.editingCell(u, 'username')">
                <textarea class="edit-cell form-control" rows="4" ng-model="u.username" ng-blur="vm.finishEditing(u)" click-focus="vm.editingCell(u, 'username')"></textarea>
              </form>
            </td>
            <td class="editing" ng-click="vm.beginEditing(u, 'email')">
              <span ng-if="!vm.editingCell(u, 'email')">{{u.email}}</span>
              <form ng-if="vm.editingCell(u, 'email')">
                <textarea class="edit-cell form-control" rows="4" ng-model="u.email" ng-blur="vm.finishEditing(u)" click-focus="vm.editingCell(u, 'email')"></textarea>
              </form>
            </td>
            <td class="hand" ng-click="vm.toggleSubscribe(u)">{{u.subscribe && 'yes' || 'no'}}</td>
            <td class="hand" ng-click="vm.toggleAdmin(u)">{{u.admin && 'yes' || 'no'}}</td>
            <td>{{u.created_at}}</td>
            <td ng-if="!u.expand">
              <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" ng-click="vm.expand(u)"></span><span class="sr-only">Expand</span>
            </td>
            <td ng-if="u.expand">
              <span class="glyphicon glyphicon-collapse-up" aria-hidden="true" ng-click="vm.collapse(u)"></span><span class="sr-only">Collapse</span>
            </td>
            <td><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="vm.deleteRow(u)"></span><span class="sr-only">Delete</span></td>
          </tr>
          <tr ng-if="u.expand">
            <td colspan="7">
              <h4>Questions answered</h3>
              <table class="table table-striped table-bordered table-hover table-condensed table-edit">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Question</th>
                    <th>Correct?</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="q in u.questions">
                    <td>{{q.id}}</td>
                    <td>{{q.question}}</td>
                    <td>{{q.correct_answer.id==q.pivot.answer_id?'YES':'no'}}</td>
                    <th><span class="glyphicon glyphicon-erase" aria-hidden="true" ng-click="vm.clearAnswer(u, q, q.pivot.answer_id)"></span><span class="sr-only">Erase</span></th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>