<div class="c container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 content">
      <h3>Refer a Friend</h3>
      <p>Know someone else who will love Quiz Dash?  Refer friends by adding their email addresses below.</p>
      <form ng-submit="vm.submitRefer()" ng-hide="vm.emailSent">
        <div class="form-group">
          <label for="comments">Email addresses</label>
          <textarea class="form-control" name="recipients" id="recipients" rows="3" ng-model="vm.recipients.emails"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
      <p ng-show="vm.emailSent">Thank you for referring your friends!</p>
    </div>
  </div>
</div>